*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	background: pink;
	height: 70px;
}

.ancho{
	width: 80%;
	height: 70px;
	/*background: red;*/
	margin: auto;
}

.logo{
	width: 30%;
	height: 70px;
	/*background: blue;*/
	float: left;
	padding-top: 10px;
	box-sizing: border-box;
}

.logo p a{
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	font-family: raleway;
}

nav{
	width: 70%;
	height: 70px;
	/*background: olive;*/
	float: left;
	text-align: right;
	padding-top: 24px;
	box-sizing: border-box;
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: raleway;
}

nav ul li a:hover{
	color: gray;
}
@font-face{
	font-family: raleway;
	src:url(fuentes/Raleway-Regular.ttf);
}


form{
	width: 30%;
	border: 3px solid pink;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	border-radius: 20px;
}

label{
	font-family: raleway;
	font-size: 18px;
	display: block;
	width: 100%;
}

textarea{
	resize: vertical;
	min-height: 100px;
	max-height: 200px;
}

input, textarea{
	font-family: raleway;
	font-size: 12px;
	margin-bottom: 30px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.valores{
	background: pink;
}
